@import 'mixin.scss';
@import 'variables.scss';

.container {
  max-width: 768px;
}
.back-top {
  &__svg{
    &:hover:not(:focus-visible) {
      fill: $white;
      background:$orange;
    }
  }
  &.active {
    display: block;
  }
}
.header-menu-logo {
  &.active {
    width: 166px;
  }
}

.preview-body {
  grid-template-rows: 1px repeat(1, 1fr);
}

.preview-content {
  margin-left: 28px;

  &__hashtag {
    @include hashtag-wrapper(12px 0px, 10px 7px 10px auto, 32%);

    &-link {
      @include hashtag-link(14px, 16px);
    }
  }

  &__text {
    padding-top: 65%;
    @include text(16px, 19px);
    color: $white;
  }

  &__header {
    @include hashtag-header(14px, 60%, 34px, 90%);
    margin-bottom: 23px;
  }

  &__link {
    @include btn-orange(15px 22px, 16px, 19px);
  }
}

.about-us {
  display        : flex;
  justify-content: space-between;

  &__info {
    margin-bottom: 0;
    width        : 48%;
    white-space  : normal;
    font-size    : 16px;
    line-height  : 28px;
  }
}

.aboutus__header {
  @include header(24px, 30px);
}

.subscribe {
  padding: 25px 0 70px;
}

.hashtag {
  &__back {
    width: 200px;
  }
  &__btn-image-back {
   
 position: static;
    
  }
}

.project-small__img {
  height  : auto;
  overflow: visible;
}

.project-body {
  display              : grid;
  grid-template-rows   : minmax(270px, auto) repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  row-gap              : 25px;
  column-gap           : 30px;

  &__item:not(:first-child) {
    margin-top: 0px;
  }

  &__item:first-child {
    grid-area: 1/1/1/3;
  }

  &__item:nth-child(2) {
    grid-area: 1/3/1/5;
  }

  &__item:nth-child(3) {
    grid-area: 1/5/1/7;
  }

  &__item:nth-child(4) {
    grid-area: 2/1/2/7;
  }

  &__item:nth-child(5) {
    grid-area: 3/1/3/4;
  }

  &__item:nth-child(6) {
    grid-area: 3/4/3/7;
  }

  &__item:last-child {
    grid-area: 4/1/4/7;
  }
}

.project-modal-card {
  padding: 20px 10px;
  width  : 720px;

  &__img {
    display: block;
    width  : 45%;
  }

  &__text {
    width: 55%;
  }
}

.preview-modal-card {
  padding: 20px 10px;
  width  : 720px;

  &__img {
    display: block;
    width  : 45%;
  }
}

.service-modal-card {
  padding: 20px 10px;
  width  : 720px;

  &__img {
    margin-top: 20px;
    display   : block;
    text-align: center;

    img {
      width : 80%;
      filter: grayscale(1);
    }
  }
&__header{
  @include header(24px, 30px);
  img{
    left: 270px;
  }
}
  &__title {
    @include header(24px, 30px);
  }

  &__text {
    @include text(16px, 19px);
  }

}

.service-address {
  &__title {
    @include header(24px, 30px);
  }

  &__phone {
    @include header(20px, 24px);

    &-svg {
      top     : 5px;
    }
  }
}

.modal-date {
  left: 0px;
  top : 0px;
}

.service {
  margin-top: 46px;

  &__title {
    @include header(24px, 31px);
    margin-bottom: 20px;
  }
}

.service-sale {
  max-width: 700px;
}

.service-work__big-img {
  max-width: 768px;
}

.service-swiper {
  width: 726px;
}

.service-content-left {
  &__title {
    margin-top: 14px;
    @include header(23px, 22px);
    font-weight: 400;
  }

  &__text {
    margin: 12px 0;
    @include text(16px, 22px);
  }

  &__btn {
    font-size: 16px;
  }
}

.service-content-right {

  &__title {
    margin-top: 12px;
    @include header(23px, 22px);
    font-weight: 400;
  }

  &__text {
    @include text(16px, 22px);
    color: $pearlLightGray;
  }

  &__btn {
    font-size: 16px;
  }
}


.service-slide-one,
.service-slide-two {
  width          : 726px;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.service-content-left,
.service-content-right {
  text-align: inherit;
  width     : 342px;

  &__img {
    width: 342px;
  }
}

.service-content-right:nth-child(7),
.service-content-right:nth-child(8) {
  display: block;
}

.service-work__wrapper {
  max-width: 94px;
}

.service-work__title {
  @include header(24px, 31px);
}

.footer-logo {
  &__info {
    font-size  : 14px;
    line-height: 18px;
  }
}

.container-contacts {
  max-width: 768px;
  padding  : 0 27px;
}

.contact-form {
  &__inner {
    div {
      right: 60px;
    }
  }
}

.contacts {
  margin-top: 39px;

  &__title {
    margin-left: 0px;
    @include header(24px, 31px);
  }
}

.contacts-map {
  height: 460px;
}

.map-address {
  padding: 26px 34px 14px 19px;

  &__title {
    @include text-Firs(24px, 22px);
  }

  &__address {
    margin-top: 15px;
    @include text(16px, 18px)
  }

  &__phone {
    margin: 15px 0 0 24px;
  }
}

.contacts-application-form {
  width: 75%;

  &__title {
    @include text-Firs(24px, 22px);
  }

  &__text {
    @include text(16px, 22px);
  }
}

.macterclass {
  margin-top    : 40px;
  padding-bottom: 70px;

  &__title {
    padding: 40px 0 15px;
    @include header(24px, 31px);

  }
}

.macterclass-basic {
  display: flex;

  &__wrapper {
    margin-left: 30px;
    width      : 50%;
  }

  &__img {
    width: 50%;
  }

  &__info {
    margin-top: 7px;
    @include text-Firs(24px, 22px)
  }

  &__text {
    @include text(16px, 28px);
  }

  &__btn {
    margin-top: 18px;
    @include btn-orange(16px 22px, 16px, 19px);
  }
}

.macterclass-further {
  margin-top           : 40px;
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap              : 30px;
}

.macterclass-content {
  margin-top: 0;
}