@mixin transition {
  transition: all .4s ease-in-out
}

@mixin burger {
  position  : absolute;
  content   : '';
  height    : 2px;
  background: $white;
  width     : 20px;
}

@mixin img {
  background-repeat: no-repeat;
  background-size  : cover;
}

@mixin hashtag-wrapper($padding, $margin, $width) {
  margin          : $margin;
  width           : $width;
  padding         : $padding;
  background-color: $twilightGray;
  border          : 1px solid transparent;
  cursor          : pointer;

  &:focus-visible {
    border        : 1px solid $white;
    outline       : 2px solid $blackBrown;
    outline-offset: 1px;
    @include transition;
  }

  &:active:not(:focus-visible) {
    color: $orange;
    @include transition;
  }
}

@mixin hashtag-link($font-size, $line-height) {
  position    : absolute;
  font-size   : $font-size;
  line-height : $line-height;
  top         : 50%;
  left        : 50%;
  margin-right: -50%;
  transform   : translate(-50%, -50%);
}

@mixin hashtag-header($margin-top, $width, $font-size, $line-height) {
  margin-top : $margin-top;
  width      : $width;
  font-weight: bold;
  font-size  : $font-size;
  line-height: $line-height;
  color      : $white;
}

@mixin btn-orange($padding, $font-size, $line-height) {
  padding    : $padding;
  outline    : transparent;
  border: 3px solid transparent;
  font-family: Roboto;
  font-weight: bold;
  font-size  : $font-size;
  line-height: $line-height;
  text-align : center;
  background : $orange;
  color      : $white;
  cursor     : pointer;
  @include transition;

  &:hover:not(:focus-visible) {
    border: 3px solid $orange;
    background : transparent;
    @include transition;
  }

  &:focus-visible {
    border: 3px solid $darkOrange;
    @include transition;
  }

  &:active:not(:focus-visible) {
    background-color: $darkOrange;
    @include transition;
  }
}

@mixin btn {
  display         : block;
  padding         : 14px 19px;
  outline         : transparent;
  font-family     : Roboto;
  font-weight     : bold;
  font-size       : 16px;
  line-height     : 19px;
  text-align      : center;
  background-color: transparent;
  color           : $white;
  border          : 3px solid $orange;
  cursor          : pointer;
  @include transition;

  &:hover:not(:focus-visible) {
    background-color: $orange;
    @include transition;
  }

  &:focus-visible {
    background-color: $pearlOrange;
    @include transition;
  }

  &:active:not(:focus-visible) {
    background-color: $darkOrange;
    @include transition;
  }
}

@mixin btn-image {
  display    : block;
  width      : 25%;
  margin-left: 0;
  padding    : 7px;
  outline    : transparent;
  font-family: Roboto;
  font-weight: bold;
  font-size  : 16px;
  line-height: 19px;
  text-align : center;
  background : transparent;
  color      : $blackBrown;
  border     : 3px solid $orange;
  cursor     : pointer;
  @include transition;

  &.active {
    display: none;
  }

  &:hover:not(:focus-visible) {
    background-color: $orange;
    @include transition;
  }

  &:focus-visible {
    background-color: $pearlOrange;
    @include transition;
  }

  &:active:not(:focus-visible) {
    background-color: $darkOrange;
    @include transition;
  }
}

@mixin back {
  position   : fixed;
  right      : 0;
  margin     : 10px;
  display    : block;
  padding    : 7px;
  outline    : transparent;
  font-family: Roboto;
  font-weight: bold;
  font-size  : 16px;
  line-height: 19px;
  text-align : center;
  background : $orange;
  border     : 3px solid $orange;
  cursor     : pointer;
  color      : $blackBrown;
  @include transition;

  &:hover:not(:focus-visible) {
    color: $white;
    @include transition;
  }

  &:focus-visible {
    outline: 3px solid $darkOrange;
  }

  &:active:not(:focus-visible) {
    background-color: $darkOrange;
    @include transition;
  }
}

@mixin header($font-size, $line-height) {
  font-family: TTFirsNeue;
  font-style : normal;
  font-weight: bold;
  font-size  : $font-size;
  line-height: $line-height;
}

@mixin text($font-size, $line-height) {
  font-family: Roboto;
  font-style : normal;
  font-weight: 400;
  font-size  : $font-size;
  line-height: $line-height;
}

@mixin text-Firs($font-size, $line-height) {
  font-family: TTFirsNeue;
  font-style : normal;
  font-weight: normal;
  font-size  : $font-size;
  line-height: $line-height;
}

@mixin calendar {
  width       : 12px;
  height      : 12px;
  margin-right: 5px
}


@mixin description-photo {
  font-family: Roboto;
  margin-top : 19px;
  font-size  : 16px;
  line-height: 22px;
  color      : $blackBrown;
}


@mixin hashtag-title {
  margin        : 0 auto;
  align-items   : center;
  padding       : 20px;
  text-transform: uppercase;
  text-align    : center;
  color         : $blackBrown;
}

@mixin image-search {
  height         : auto;
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  opacity        : 1;

  img {
    display: block;
    margin : 5px;
    cursor : pointer;
  }

  &.active {
    opacity: 0;
    height : 0;
    z-index: -1;

    img {
      height: 0;
    }
  }
}