.modal {
  --transition-time: 0.3s;
  position         : fixed;
  left             : 0;
  top              : 0;
  right            : 0;
  bottom           : 0;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  height           : 100%;
  width            : 100%;
  overflow-y       : auto;
  background-color : rgba($black, 0.7);
  opacity          : 0;
  visibility       : hidden;
  transition       : opacity var(--transition-time), visibility var(--transition-time);
  z-index          : 250;
}

.modal.is-open {
  opacity   : 1;
  visibility: visible;
}

.project-modal-card.modal-open,
.preview-modal-card.modal-open {
  display    : flex;
  align-items: center;
}

.service-modal-card.modal-open {
  display: block;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height  : 100vh;
  position: fixed;
  left    : 0;
  top     : 0;
  width   : 100%;
}

.fadeInUp {
  opacity   : 0;
  transform : translateY(-200px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity   : 1;
  transform : translateY(10%);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUps {
  opacity   : 0;
  transform : translateY(-200px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUps.animate-open {
  opacity   : 1;
  transform : translateY(-10%);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.project-modal-card {
  padding         : 20px 5px 0 5px;
  position        : relative;
  width           : 280px;
  align-items     : center;
  display         : none;
  background-color: $blackBrown;

  &__text {
    padding: 15px;
    @include text(14px, 22px);
    color: $white;
  }

  &__img {
    transform: scale(-1, 1);
    display  : none;

    img {
      width: 100%;
    }
  }

  address {
    text-align : right;
    line-height: 22px;
    font-weight: 700;
  }

  &__address {
    color: $orange;
  }

  &__close {
    position        : absolute;
    right           : 0px;
    top             : 0px;
    width           : 24px;
    height          : 24px;
    background      : none;
    border          : none;
    cursor          : pointer;
    background-color: transparent;
    outline         : none;

    &::before,
    &::after {
      content      : "";
      display      : block;
      position     : absolute;
      left         : 0;
      right        : 10px;
      border-bottom: 2px solid $white;
      transform    : rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.modal-date {
  background-color: $white;
  position        : absolute;
  left            : 0;
  top             : 0;
  padding         : 5px;
  z-index         : 2;

  &__svg {
    @include calendar;
    fill: $blackBrown;
  }

  &__date {
    @include text(12px, 22px);
    color: $blackBrown;
  }
}

.modal-content {
  color: $white;

  &__title {
    @include header(24px, 24px);
    color: $orange;
  }

  &__time {
    @include text(18px, 24px);
    margin: 5px 0;
  }

  address {
    text-align : right;
    line-height: 22px;
    font-weight: 700;
  }

  &__address {
    color: $orange;
  }
}

.preview-modal-card {
  padding         : 20px 5px 0 5px;
  position        : relative;
  width           : 280px;
  align-items     : center;
  display         : none;
  background-color: $blackBrown;
  overflow-y      : auto;

  &__title {
    text-align: center;

    span {
      @include header(24px, 24px);
      color      : $white;
      text-shadow: 0 0 6px $white, 0 0 10px $white, 0 0 50px #79a7fc;
    }
  }

  &__info {
    padding: 15px;
    @include text(14px, 22px);
    color: $white;
  }

  &__text {
    margin    : 15px;
    text-align: right;
    @include text(18px, 22px);
    color: $orange;
  }

  &__img {
    display  : none;
    transform: scale(-1, 1);

    img {
      width: 100%;
    }
  }

  address {
    text-align : right;
    line-height: 22px;
    font-weight: 700;
  }

  &__address {
    color: $orange;
  }

  &__close {
    position        : absolute;
    right           : 0px;
    top             : 0px;
    width           : 24px;
    height          : 24px;
    background      : none;
    border          : none;
    cursor          : pointer;
    background-color: transparent;
    outline         : none;

    &::before,
    &::after {
      content      : "";
      display      : block;
      position     : absolute;
      left         : 0;
      right        : 10px;
      border-bottom: 2px solid $white;
      transform    : rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.preview-modal-list {
  list-style-type: none;
  counter-reset  : num;
  margin         : 0 0 0 45px;
  padding        : 15px 0 5px 0;

  li {
    position   : relative;
    margin     : 0 0 0 0;
    padding    : 0 0 10px 0;
    line-height: 1.4;
  }

  li:before {
    content          : counter(num);
    counter-increment: num;
    display          : inline-block;
    position         : absolute;
    top              : 0;
    left             : -38px;
    width            : 18px;
    height           : 18px;
    background       : $blackBrown;
    color            : $orange;
    text-align       : center;
    line-height      : 18px;
    font-size        : 14px;
    border-radius    : 50%;
    border           : 1px solid $orange;
  }
}

.service-modal-card {
  padding         : 20px 5px;
  position        : relative;
  width           : 280px;
  align-items     : center;
  display         : none;
  background-color: $white;
  box-shadow      : 0 15px 10px 0 rgba(0, 0, 0, 0.2);

  &__header {
    @include header(18px, 23px);
    color: $orange;

    img {
      position: absolute;
      right   : 0;
      top: 23px;
    }
  }

  &__picture {
    transform: scale(-1, 1);
    display  : none;
  }

  &__img {
    transform: scale(-1, 1);
    display  : none;
  }

  &__title {
    @include header(18px, 23px);
    text-align: center;
    color     : $blackBrown;
  }

  &__text {
    margin-top: 20px;
    padding   : 15px;
    @include text(14px, 22px);
    color: $pearlLightGray;

  }

  &__address {
    margin-top: 20px;
    text-align: center;
  }

  &__close {
    position        : absolute;
    right           : 0px;
    top             : 0px;
    width           : 24px;
    height          : 24px;
    background      : none;
    border          : none;
    cursor          : pointer;
    background-color: transparent;
    outline         : none;

    &::before,
    &::after {
      content      : "";
      display      : block;
      position     : absolute;
      left         : 0;
      right        : 10px;
      border-bottom: 2px solid $blackBrown;
      transform    : rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.service-address {
  @include text(14px, 18px);

  &__title {
    margin-top: 20px;
    @include header(18px, 23px);
    text-align: center;
    color     : $blackBrown
  }

  &__phone {
    position: relative;
    @include header(16px, 21px);
    color: $orange;

    &::after {
      position        : absolute;
      display         : none;
      content         : "";
      width           : 245px;
      height          : 3px;
      left            : -20px;
      top             : 21px;
      background-color: $orange;
    }

    &::before {
      position: absolute;
      display : none;
      content : "";
      width   : 270px;
      height  : 65px;
      left    : -31px;
      top     : -38px;
      border  : 3px solid $orange;
    }

    &:hover:not(:focus-visible) {
      &::after {
        display: block;
      }
    }

    &:focus-visible {
      &:before {
        display: block;
      }
    }

    &:active:not(:focus-visible) {
      &:before {
        display: block;
        border : 3px solid $darkOrange;
      }

      &::after {
        display: none;
      }
    }

    &-svg {
      position: absolute;
      left    : -18px;
      width   : 16.5px;
      height  : 16.5px;
      fill    : $orange;
    }
  }
}