
$formError      : #FF3030;
$darkOrange     : #ce4307;
$pearlOrange    : #bc572b;
$orange         : #ff6e30;
$yellow         : #fff500; 
$black          : #000000;
$blackBrown     : #202020;
$twilightGray   : #333333;
$quartzGray     : #766a62;
$ironGray       : #4A4A4A;
$pearlBlackberry: #666666;
$border         : #808080;
$pearlLightGray : #999999;
$lightGray      : #C4C4C4;
$lightlightGray : #E9E9E9;
$svg            : #CACACA;
$white          : #ffffff;

//  *{
//    border: 1px solid red;
//  }